body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 500px;
    margin-bottom: 100px;


}
h1{
    font-size: 50px;
}
.nameheighlight{
    color:orange;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;

   

}
.half-width img{
    width: 100%;
}

.top-banner{
 background-image:url("top-banner.png");
 background-repeat: no-repeat;
}
.link-button{
    text-decoration:none;
    color:white;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border-radius:10px;
    font-weight: 700;
    padding: 10px 25px;
    
}
.round-banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
background-position: right;
}
h2{
    font-size: 35px;
}
.developer{
    
    background-color: white;
    box-shadow: 10px 10px 40px  gray;
    border-radius: 5px;
    height: 80%;
}
.experience{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left:7px solid red;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;

}
#baby-stack{
    border-left:7px solid red;
    border-image: linear-gradient(rgb(21, 18, 202),rgb(71, 166, 255));
    border-image-slice: 1;

}
footer{
    text-align: center;
    color: rgb(126, 122, 122);
    font-size: 13px;
}